@import "variables";

:host {
    display: block;
    padding: $page-margin;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid mat-color($app-foreground, divider);

    .input-container {
        min-width: 250px;
    }
}

.right-column {
    margin-left: auto;
}

h1 {
    margin: 0;
    font-weight: 400;
}

header-play-button {
    margin-left: 15px;
}

loading-indicator {
    margin: 30px 0;
}

.no-results-message {
    margin: 40px 0;
}

table {
    width: 100%;
}

.search-title {
    padding: 0;
    padding-top: 8px;
}
.play-btn {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.input-group {
    width: 300px;
    margin: auto;
}

.search-icon {
    font-size: 28px;
    width: 29px;
}

.input-group {
    border: 1px solid #ced4da;
    padding: 0 10px;
    border-radius: 16px;
    input {
        border: 0;
    }
}

.search-box {
    margin-top: 20px;
    margin-bottom: 15px;
}

td,
th {
    text-align: left;
}
th {
    font-size: 20px;
    padding: 20px;
    text-align: left;
}
td {
    padding: 20px;
    font-size: 16px;
    padding-left: 0;
    text-align: left;
}

.action-icon {
    font-size: 20px;
    button {
        border: 0;
    }
}

h1 {
    font-size: 40px;
    color: grey;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.input-container {
    width: 300px;
    display: block;
    border: 1px solid;
    margin-bottom: 60px !important;
    margin: auto;
    border-radius: 25px;
}

.track-action {
    cursor: pointer;
}

.cdk-drop-list-dragging .mat-row {
    pointer-events: none;
}

.mat-row.playing {
    color: mat-color($app-accent, default);

    .mat-column-number,
    .mat-column-like,
    .mat-column-duration {
        color: inherit;
    }
}

.mat-row:hover {
    background: mat-color($app-background, hover);

    .mat-column-options {
        visibility: visible;
    }
}

.mat-row:hover,
.mat-row.playing {
    .number {
        display: none;
    }

    playback-control-button {
        display: flex;
        background-color: mat-color($app-foreground, base);
        color: mat-color($app-background, raised-button);
        margin: 0;
    }
}

.mat-column-number,
.mat-column-like,
.mat-column-duration {
    flex: 0 0 65px;
    color: mat-color($app-foreground, secondary-text);
}

// align track number and play icon
.mat-column-number.mat-header-cell {
    padding-left: 35px;
}

.number {
    padding-left: 10px;
}

.mat-column-options {
    flex: 0 0 65px;
    visibility: hidden;
}

.mat-column-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-column-created_at {
    max-width: 120px;
    margin-left: 20px;
}

.mat-table {
    background: transparent;
}

a {
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

loading-indicator {
    margin: 30px 0;
}

.selected {
    background-color: mat-color($app-background, hover);
}

.mat-table.mobile {
    .mat-row {
        display: block;
        position: relative;
        min-height: 0;
        border-bottom: none;
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 4px;

        &:after {
            display: none;
        }
    }

    .mat-cell {
        display: block;
        color: inherit;
    }

    .mat-column-name {
        padding-left: 0;
        font-size: 1.5rem;
        max-width: 80%;
    }

    .mat-column-artist {
        font-size: 1.3rem;
        padding: 0;
        color: mat-color($app-foreground, secondary-text);
        max-width: 85%;
    }

    .mat-column-options {
        visibility: visible;
        position: absolute;
        right: 0;
        top: 0;
        color: mat-color($app-foreground, secondary-text);
    }
}

.mat-column-popularity {
    flex: 0 0 80px;
    padding: 0 15px;
    text-align: center;

    .popularity-track {
        height: 6px;
        width: 100%;
        position: relative;
        background-color: mat-color($app-background, unselected-chip);
    }

    .popularity-track-inner {
        height: 100%;
        width: 0;
        background-color: mat-color($app-foreground, secondary-text);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.table-card {
    padding: 10px;
    height: 500px;
    padding: 15px;
    background: #fff;
    overflow: scroll;
}

.filter-span {
    margin: 0 10px;
    font-size: 18px;
}

.flex {
    display: flex;
}

.filter-fields {
    width: 25%;
    select,
    input {
        height: 35px;
        width: 200px;
        font-size: 18px;
    }
}

.mat-select-panel {
    background: #ffffff;
}

.tags {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 14px;
    font-size: 16px;
    .tag {
        padding: 5px 10px;
        margin: 10px;
        margin-left: 0;
        background: #000;
        color: #fff;
        font-weight: 600;
        border-radius: 9px;
    }

    .close {
        margin-left: 7px;
        position: relative;
        top: -1px;
        right: -4px;
        cursor: pointer;
    }
}

h3 {
    text-align: center;
    font-size: 35px;
}


.table-card {
    padding: 10px;
    height: 500px;
    box-shadow: 0px 0px 6px -2px;
    overflow: scroll;
}
