<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style='padding:0;'>
                <h1 style="text-align: center;" class="card-title text-center search-title">
                    Advanced Search </h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="filter-span">Genre</span>
                    <span class="filter-span">Temp</span>
                    <span class="filter-span">BPM</span>
                </div>
            </div>
            <div class="flex" style="margin:10px;">
                <div class="filter-fields">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <select (ngModelChange)="query.genre=$event;filter()" [ngModelOptions]={standalone:true}
                        [(ngModel)]="query.genre">
                        <option value="">Select Genre</option>
                        <option *ngFor="let genre of filterData.genre" [value]="genre">
                            {{genre}}
                        </option>
                    </select>
                </div>
                <div class="filter-fields">
                    <select (ngModelChange)="query.tempo=$event;filter()" [ngModelOptions]={standalone:true}
                        [(ngModel)]="query.tempo">
                        <option value="">Select Tempo</option>
                        <option *ngFor="let tempo of filterData.tempo" [value]="tempo">
                            {{tempo}}
                        </option>
                    </select>
                </div>
                <div class="filter-fields">
                    <input (ngModelChange)="query.bpm=$event;filter()" [ngModelOptions]={standalone:true}
                        [(ngModel)]="query.bpm" class="login-controls" type="number" placeholder="Enter BPM..">
                </div>
                <mat-form-field>
                    <mat-label>Instruments</mat-label>
                    <mat-select (ngModelChange)="query.instruments=$event;filter()" [ngModelOptions]={standalone:true}
                        [(ngModel)]="query.instruments" multiple>
                        <mat-option *ngFor="let instrument of filterData.instruments" [value]="instrument">
                            {{instrument}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <div class="filter-fields">
                    <div>
                        <h4>Instruments</h4>
                        <span *ngFor="let instrument of filterData.instruments">
                            <input type="checkbox"> {{instrument}}
                        </span>
                    </div>
                </div> -->
            </div>
            <div class="filter-fields" style="margin-left: 12px;">
                <input #keyword (change)="addKeyword($event.target.value);keyword.value=null;filter()"
                    class="login-controls" type="text" placeholder="Keywords..">
            </div>
            <div class="row" style="margin-left: 12px;">
                <div class="tags">
                    <span class="tag" *ngFor="let keyword of query.keyword;let i=index;">
                        {{keyword}} <span class="close" (click)="removeKeyword(i)">x</span>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <h1 *ngIf="!results.length">No Results Found</h1>
                    <h3>Search Results</h3>
                    <div class="card table-card">
                        <div class="card-body">
                            <table class="table" *ngIf="results.length">
                                <tr>
                                    <th style="padding-right: 80px;">No</th>
                                    <th>Name</th>
                                    <th>Label</th>
                                    <th>Genre</th>
                                    <th>Instruments</th>
                                    <th>Duration</th>
                                    <th>Tempo/BPM</th>
                                    <th>Information</th>
                                </tr>
                                <tr *ngFor="let r of results;let i=index;">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        <i style="margin-right: 10px;" (click)="r.isPause=!r.isPause;"
                                            [ngClass]="{'fa-pause':r.isPause,'fa-play':!r.isPause}" class="fa"></i>
                                        {{r.name | titlecase}}
                                    </td>
                                    <td>
                                        {{r.label||'-'}}
                                    </td>
                                    <td>
                                        {{r.genre||'-'}}
                                    </td>
                                    <td>
                                        {{r.instruments||'-'}}
                                    </td>
                                    <td>
                                        {{r.duration}}
                                    </td>
                                    <td>
                                        {{r.tempo||'-'}}{{r.bpm&&'/'}}{{r.bpm||'-'}}
                                    </td>
                                    <td>
                                        <div class="actions action-icon">
                                            <mat-menu #appMenu="matMenu" yPosition='below' xPosition='before'>
                                                <ng-template matMenuContent>
                                                    <div style="padding:10px;">
                                                        <h4 style="margin:0;">{{r.name}}</h4>
                                                    </div>
                                                </ng-template>
                                            </mat-menu>
                                            <button [matMenuTriggerFor]="appMenu" class="track-action btn btn-icon">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>

                                            </button>
                                            <button class="track-action btn btn-star">
                                                <i class="fa fa-star" aria-hidden="true"></i>

                                            </button>
                                            <button class="track-action btn btn-icon">
                                                <i class="fa fa-folder" aria-hidden="true"></i>

                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>