@import "variables";

:host {
    display: block;
}

.remember-and-login-row {
    display: flex;
}

.remember-me-checkbox {
    flex: 1 1 auto;
    padding-top: 8px;
}
.login-button {
    flex: 1 1 auto;
    text-align: right;
}

.info-row {
    margin: 35px 0;
    text-align: center;
}

.color-secondary {
    margin-right: 5px;
}

.social-icons {
    text-align: center;
}

.login-controls {
    border-radius: 20px;

}

.login-btn{
    border-radius: 20px;
    width: 200px;
    margin: auto;
    display: block;
}