@import "../../scss/variables";
@import "~@angular/material/theming";

.be-light-mode web-player {
    background-color: mat-color($app-background, card);
}

web-player {
    display: block;
    position: relative;
    background-color: mat-color($app-background, background);
    color: mat-color($app-foreground, text);
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page-wrapper {
        flex: 1 1 auto;
        min-width: 0;
        height: 100%;
        overflow-x: auto;
    }

    .space-wrapper {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;

        @media (min-width: 768px) {
            max-width: 868px;
        }

        @media (min-width: 1100px) {
            max-width: 978px;
        }

        @media (min-width: 1200px) {
            max-width: 1054px;
        }

        @media only screen and (min-width: 1224px) {
            max-width: 1290px;
        }

        @media (min-width: 1310px) {
            max-width: 1186px;
        }

        @media (min-width: 1430px) {
            max-width: 1306px;
        }
    }

    .player-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100% - #{$wp-controls-height});
        position: relative;
        flex: 1 1 auto;
        overflow: hidden;

        .page-content {
            width: 100%;
            background-color: inherit;
            color: inherit;

            .mat-drawer {
                color: inherit;
                background-color: inherit;
                box-shadow: 1px 1px 1px 1px;
            }

            .mat-drawer-content {
                display: flex;
                overflow: visible;
            }
        }

        &.mobile {
            height: calc(100% - #{$wp-mobile-controls-height});
        }
    }

    .html5-player .img-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        z-index: 2;

        playback-control-button {
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid hsla(0, 0%, 100%, 0.6);
            border-radius: 50%;
            width: 60px;
            height: 60px;
            transition: transform 0.3s cubic-bezier(0, 0, 0, 2.41);

            button,
            playing-indicator {
                width: 58px;
                height: 58px;
                line-height: 58px;
            }

            &:hover {
                transform: scale(1.2);
            }

            .mat-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin: 0 auto;
            }
        }
    }
}

.nav-btn {
    width: 50px;
    height: 50px;
    position: anbs;
    right: 25px;
    position: absolute;
    font-size: 31px;
    cursor: pointer;
    border: 0;
    top: 17px;
}

.sidebar {
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.nav-btn {
    z-index: 999;
}
