<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style='padding:0;'>
                <h1 style="text-align: center;" class="card-title text-center search-title">
                    Quick Search </h1>
            </div>
            <div class="input-container">
                <label for="login-text" class="hidden"></label>
                <input [ngModelOptions]={standalone:true} (ngModelChange)="enterText($event)" [(ngModel)]="query.text"
                    class="login-controls" type="text" placeholder="Quick Search..">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <h1 *ngIf="!results.length">No Results Found</h1>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-card">
                                <h3>Search Results</h3>
                                <div class="card-body">
                                    <table class="table" *ngIf="results.length">
                                        <tr>
                                            <th style="padding-right: 80px;">No</th>
                                            <th>Name</th>
                                            <th>Label</th>
                                            <th>Duration</th>
                                            <th>Tempo</th>
                                            <th>Information</th>
                                        </tr>
                                        <tr *ngFor="let r of results;let i=index;">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <i style="margin-right: 10px;" (click)="r.isPause=!r.isPause;"
                                                    [ngClass]="{'fa-pause':r.isPause,'fa-play':!r.isPause}"
                                                    class="fa"></i>
                                                {{r.name | titlecase}}
                                            </td>
                                            <td>
                                                {{r.label||'-'}}
                                            </td>
                                            <td>
                                                {{r.duration}}
                                            </td>
                                            <td>
                                                {{r.tempo||'-'}}
                                            </td>
                                            <td>
                                                <div class="actions action-icon">
                                                    <mat-menu #appMenu="matMenu" yPosition='below' xPosition='before'>
                                                        <ng-template matMenuContent>
                                                            <div style="padding:10px;">
                                                                <h4 style="margin:0;">{{r.name}}</h4>
                                                            </div>
                                                        </ng-template>
                                                    </mat-menu>
                                                    <button [matMenuTriggerFor]="appMenu"
                                                        class="track-action btn btn-icon">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>

                                                    </button>
                                                    <button class="track-action btn btn-star">
                                                        <i class="fa fa-star" aria-hidden="true"></i>

                                                    </button>
                                                    <button class="track-action btn btn-icon">
                                                        <i class="fa fa-folder" aria-hidden="true"></i>

                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>