@import "variables";

:host-context(admin) {
  padding: 0;
  min-height: calc(100vh - 120px);
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 25px;
  background-color: mat-color($app-background, background);
}

.dropzone {
  background: mat-color($app-background, card);
  padding: 50px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid mat-color($app-foreground, divider);
  min-width: 520px;
  max-width: 90%;

  .action-button {
    margin-top: 20px;
  }

  .setting-toggle-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid mat-color($app-foreground, divider-lighter);
  }

  .title {
    font-size: 1.8rem;
  }

  p, .setting-toggle-container {
    margin-bottom: 0;
  }

  &.file-over-dropzone {
    border-color: mat-color($app-accent, default);
    background-color: mat-color($app-accent, emphasis);
  }
}

.create-artists-toggle {
  margin-top: 20px;
  min-width: 520px;
  text-align: center;
}

.minutes-container {
  color: mat-color($app-foreground, secondary-text);
  font-size: 1.5rem;
  margin-top: 20px;
}

.track-upload-queue {
  width: 100%;
  margin-top: 40px;
}

.track-panel {
  margin-bottom: 20px;
  padding: 20px 25px;
}

uploaded-media-preview {
  margin-bottom: 15px;
}