@import "variables";

:host, .img-container {
  position: relative;
}

.img-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  overflow: hidden;
}

.genre-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 2rem;
  color: mat-color($app-accent, default-contrast);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}