<ng-container *ngIf="upload.meta$ | async as meta">
    <div class="meta">
        <div class="name">{{upload.filename}}</div>
        <div class="time-left" *ngIf="!upload.completed && !upload.pending">
            {{meta.eta}}
            <span trans>left</span>
        </div>
        <div class="actions">
            <mat-icon
                    svgIcon="error"
                    *ngIf="upload.hasError; else noError"
                    class="error-icon action-icon"
                    [matTooltip]="meta.error | trans"
                    [matTooltipDisabled]="!meta.error"
                    matTooltipPosition="left"
            ></mat-icon>
            <ng-template #noError>
                <span *ngIf="upload.completed" trans>Upload complete.</span>
                <span class="cancel-button" *ngIf="!upload.completed" (click)="upload.cancel()">Cancel</span>
            </ng-template>
        </div>
    </div>
    <mat-progress-bar mode="determinate" color="accent" [value]="meta.progress"></mat-progress-bar>
</ng-container>