@import "variables";

:host {
  display: block;
}

.sub-channel channel-content {
  margin-bottom: 40px;
}

h2 {
  font-weight: 300;
  font-size: 2.4rem;
  margin: 0 0 10px;
  max-width: calc(100% - 90px); // carousel nav arrows width
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: inherit;
  }

  .mat-icon {
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 4px;
    color: mat-color($app-foreground, icon);
  }
}

media-list-item {
  margin-bottom: 35px;
}