<div class="modal-header">
    <h2 mat-dialog-title trans>
        <span *ngIf="lyric.id" trans>Update Lyric</span>
        <span *ngIf="!lyric.id" trans>New Lyric</span>
    </h2>
    <button type="button" mat-icon-button (click)="close()" class="close-button" tabindex="-1">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<form (ngSubmit)="confirm()" ngNativeValidate>
    <mat-dialog-content class="many-inputs">
        <div class="input-container media-autocomplete-input-container">
            <label for="lyrics-track-name" class="hidden" trans>Track</label>
            <img [src]="images.getAlbumImage(track.album)" *ngIf="track">
            <input
                    type="text"
                    id="lyrics-track-name"
                    name="lyrics-track-name"
                    [formControl]="trackInput.formControl"
                    [matAutocomplete]="trackAuto"
                    placeholder="Search tracks..."
                    trans-placeholder
                    required
            >
            <p *ngIf="track">{{track.name}} | {{track.artists ? artistsString(track.artists) : '-'}} | {{track.album.release_date}}</p>
            <div class="error" *ngIf="errors.track_id">{{errors.track_id}}</div>

            <mat-autocomplete #trackAuto="matAutocomplete" [displayWith]="trackDisplayFn" class="media-autocomplete-panel" (optionSelected)="attachTrack($event)">
                <mat-option *ngFor="let track of trackInput.searchResults | async" [value]="track">
                    <img [src]="images.getAlbumImage(track.album)">
                    <div class="multiple-lines">
                        <div>{{ track.name }} -&nbsp;{{track.artists ? artistsString(track.artists) : ''}}</div>
                        <div class="secondary">{{track.album.name}} - {{track.album.release_date}}</div>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>


        <div class="input-container">
            <text-editor class="text-editor" [minHeight]="400" [basic]="true" #textEditor></text-editor>
            <div class="error" *ngIf="errors.text">{{errors.text}}</div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button (click)="close()" type="button" mat-button class="cancel-button" trans>Close</button>
        <button type="submit" mat-raised-button color="accent" class="submit-button" [disabled]="loading" trans>
            <span *ngIf="lyric.id" trans>Update</span>
            <span *ngIf="!lyric.id" trans>Create</span>
        </button>
    </mat-dialog-actions>
</form>