<div class="sidebar">
    <div [routerLink]="['/','library','quick-search']" class="sidebar-link">Quick Search</div>
    <div [routerLink]="['/','library','advanced-search']" class="sidebar-link">Advanced Search</div>
</div>