<form (ngSubmit)="submit()" class="many-inputs" [formGroup]="form" *ngIf="errors$ | async as errors">
    <track-upload-header [upload]="uploadQueueItem" *ngIf="uploadQueueItem"></track-upload-header>
    <div class="inline-form" *ngIf="albumForm" [formGroup]="form">
        <ng-content></ng-content>
        <div class="input-container">
            <label for="inline-name" class="hidden" trans>Title</label>
            <input type="text" id="inline-name" formControlName="name" required>
        </div>
        <div class="actions">
            <button type="button" [class.active]="expanded" mat-icon-button (click)="toggleExpandedState()">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button type="button" (click)="maybeCancel()" mat-icon-button>
                <mat-icon svgIcon="delete"></mat-icon>
            </button>
        </div>
    </div>
    <div [@bodyExpansion]="getExpandedState()" class="full-form">
        <div class="full-form-container" [class.inside-album]="albumForm">
            <div class="left-column">
                <upload-image-control formControlName="image" [defaultBackground]="defaultImage$ | async" uploadType="track_image"></upload-image-control>
                <button mat-flat-button color="accent" type="button" class="left-column-action-button" (click)="openUploadMusicModal()">
                    <span *ngIf="this.track" trans>Replace File</span>
                    <span *ngIf="!this.track" trans>Upload Track</span>
                </button>
            </div>
            <div class="many-inputs fields-container">
                <div class="input-container" *ngIf="!albumForm">
                    <label for="name" trans>Title</label>
                    <input type="text" id="name" formControlName="name" required>
                    <div class="error" *ngIf="errors.name">{{errors.name}}</div>
                </div>

                <album-control formControlName="album" *ngIf="!albumForm && (settings.get('player.artist_type') === 'artist' || insideAdmin())"></album-control>
                <track-artist-control [error]="errors.artists" formControlName="artists" *ngIf="settings.get('player.artist_type') === 'artist' || insideAdmin()"></track-artist-control>

                <div class="input-container" *ngIf="shouldShowDurationField()">
                    <label for="duration" trans>Duration (ms)</label>
                    <input type="number" id="duration" formControlName="duration" min="1" required>
                    <div class="error" *ngIf="errors.duration">{{errors.duration}}</div>
                </div>

                <div class="input-container" *ngIf="insideAdmin()">
                    <label for="track-youtube-id" trans>Youtube Video ID</label>
                    <input type="text" id="track-youtube-id" formControlName="youtube_id" minlength="1" maxlength="30">
                    <div class="error" *ngIf="errors.youtube_id">{{errors.youtube_id}}</div>
                    <p>ID only. https://www.youtube.com/embed?v=<strong>EPyh41zPg4Z</strong></p>
                </div>

                <div class="input-container" *ngIf="insideAdmin()">
                    <label for="track-url" trans>Remote Track Url</label>
                    <input type="url" id="track-url" formControlName="url" minlength="1" maxlength="191">
                    <div class="error" *ngIf="errors.url">{{errors.url}}</div>
                </div>

                <div class="input-container">
                    <label for="track-genres" trans>Genres</label>
                    <chip-input placeholder="+Add genre" id="track-genres" formControlName="genres"></chip-input>
                    <div class="error" *ngIf="errors.genres">{{errors.genres}}</div>
                </div>

                <div class="input-container">
                    <label for="tags" trans>Tags</label>
                    <chip-input placeholder="+Add tag" id="tags" formControlName="tags"></chip-input>
                    <div class="error" *ngIf="errors.tags">{{errors.tags}}</div>
                </div>

                <div class="input-container">
                    <label for="description" trans>Description</label>
                    <textarea type="text" id="description" formControlName="description" minlength="10" maxlength="999" rows="5"></textarea>
                </div>

                <button type="submit" mat-raised-button *ngIf="!albumForm" color="accent" [disabled]="(loading$ | async) || (uploadQueueItem && !uploadQueueItem.completed)" trans>Save</button>
                <button type="button" mat-button (click)="maybeCancel()" *ngIf="!albumForm && !track" trans>Cancel</button>
            </div>
        </div>
    </div>
</form>