@import "variables";

:host {
  display: block;
  padding-top: 25px;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0 0 20px;
}

.notifications-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}

.notification {
  padding: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  background: mat-color($app-background, dialog);
  border: 1px solid mat-color($app-foreground, divider);
  border-radius: 4px;

  .mat-icon {
    vertical-align: middle;
    color: mat-color($app-foreground, icon);
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 5px;
  }
}

media-image {
  display: block;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  margin-right: 12px;
}

.middle-column {
  flex: 1 1 auto;
  margin-right: 25px;
}

.right-column {
  margin-left: auto;
  color: mat-color($app-foreground, secondary-text);
  align-self: flex-start;
  white-space: nowrap;
}

.username, .track {
  color: mat-color($app-foreground, secondary-text);
  font-size: 1.3rem;
}

.quote:before {
  content: "“";
}

.quote:after {
  content: "“";
}

a {
  color: inherit;
}

.no-results-message {
  margin: 30px 0;

  .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    color: mat-color($app-foreground, icon);
  }
}

loading-indicator {
  margin-top: 30px;
}