@import "variables";

:host {
  display: flex;
}

:host-context(.disable-links) a {
  pointer-events: none;
}

media-image {
  width: 206px;
  height: 206px;
  flex-shrink: 0;
  margin-right: 25px;
  border-radius: 4px;

  @media only screen and (max-width: $large) {
    display: none;
  }

  @media only screen and (max-width: $xlarge) {
    width: 145px;
    height: 145px;
  }
}

.content {
  flex: 1 1 auto;
  min-width: 0;
}

.middle-column {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
}

player-seekbar, waveform {
  margin-top: 20px;
  height: initial;
}

new-comment-form {
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
}

playback-control-button {
  display: block;
  flex-shrink: 0;
  margin-right: 10px;
  background-color: mat-color($app-accent, default);
  width: 40px;
  height: 40px;
}

.artist-name {
  font-size: 1.3rem;
  color: mat-color($app-foreground, secondary-text);

  artists-links-list {
    display: inline-block;
  }
}

.media-item-name {
  display: block;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  color: inherit;
}

.date {
  color: mat-color($app-foreground, secondary-text);
  padding-right: 9px;
  padding-bottom: 2px;
}

.last-text {
  text-align: right;
  white-space: nowrap;
}

.mat-chip-list {
  display: inline-block;
}

.track-list {
  margin-bottom: 20px;
}

.track-list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0 8px;
  border-bottom: 1px solid mat-color($app-foreground, divider-lighter);
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    background: mat-color($app-background, hover);
    
    .options-button {
      display: inline-block;
    }
  }

  &.active {
    color: mat-color($app-accent, default);

    .plays {
      color: inherit;
    }
  }

  media-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .track-number {
    margin-right: 12px;
  }

  .track-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }

  .plays {
    margin-left: auto;
    color: mat-color($app-foreground, secondary-text);
  }

  .mat-icon, .options-button {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 8px;
  }

  .options-button {
    display: none;
  }
}

track-actions-bar {
  margin-top: 20px;
}

.repost-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 4px;
}

.reposter-name, .original-artist {
  color: inherit;
}