@import "../../../../scss/variables";

player-controls {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: $wp-controls-height;
    background-color: mat-color($app-background, card);
    color: mat-color($app-foreground, text);
    border-top: 1px solid mat-color($app-foreground, divider);
    position: relative;

    button:hover {
        color: mat-color($app-foreground, secondary-text);
    }

    .lyrics {
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 15px;
    }

    .lyrics-button-separator {
        width: 35px;
        height: auto;
    }

    .player-action {
        width: 35px;

        &.active {
            color: mat-color($app-accent, default);
        }

        mat-icon {
            width: $wp-controls-action-button-size;
            height: $wp-controls-action-button-size;
        }
    }

    player-seekbar {
        margin-left: 20px;
    }
}

.player-actions {
    width: 20%;
    text-align: right;

    i {
        font-size: 20px;
    }
}

.playlist {
    z-index: 999;
    padding: 10px;
    text-align: left;
}

.track-information {
    margin-left: 30px;
}

h4 {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.mat-menu-panel {
    width: 314px;
    height: 265px;
    overflow-y: scroll;
}
