<div class="track-info" style="width:25%;margin-bottom:10px;">
    <div class="row">
        <div style="float:left;width:20%;">
            <img src="https://www.gravatar.com/avatar/abc?s=65">
        </div>
        <div style="float:left;width:80%;">
            <div class="track-information" style="margin-left: 30px !important;">
                <p style="margin:0;">Label: </p>
                <p style="margin:0;">Album: </p>
                <p style="margin:0;">Artist: </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<main-playback-buttons></main-playback-buttons>

<player-seekbar></player-seekbar>

<!-- <button class="lyrics" mat-icon-button (click)="showLyricsModal()" [disabled]="!player.cued()"
    *ngIf="!shouldHideLyricsButton" trans>Lyrics</button>

<div class="lyrics-button-separator"></div> -->

<!-- <button class="player-action" mat-icon-button (click)="downloadCurrentTrack()" *ngIf="!shouldHideDownloadButton"
    [disabled]="!player.cued() || player.getPlaybackStrategy() !== 'html5'" [matTooltip]="'Download song' | trans">
    <mat-icon svgIcon="cloud-download"></mat-icon>
</button>

<button class="player-action" mat-icon-button (click)="overlay.maximize()" *ngIf="!shouldHideVideoButton"
    [disabled]="!player.cued()" [matTooltip]="'Toggle video' | trans">
    <mat-icon svgIcon="ondemand-video"></mat-icon>
</button>

<button class="player-action" mat-icon-button (click)="queueSidebar.toggle()" [matTooltip]="'Toggle queue' | trans">
    <mat-icon svgIcon="queue-music"></mat-icon>
</button> -->

<div class="player-actions">
    <button [matMenuTriggerFor]="appMenu" class="player-action shuffle-button" mat-icon-button
        [class.active]="player.getState().shuffling" (click)="showPlaylist=!showPlaylist;"
        [matTooltip]="'Playlist' | trans">
        <i class="fa fa-list" aria-hidden="true"></i>
    </button>
    <mat-menu #appMenu="matMenu" yPosition='above' xPosition='before'>
        <ng-template matMenuContent>
            <div class="playlist">
                <h4>Playlist</h4>
                <app-playlist></app-playlist>
            </div>
        </ng-template>
    </mat-menu>

    <button class="player-action shuffle-button" mat-icon-button [class.active]="player.getState().shuffling"
        (click)="player.toggleShuffle()" [matTooltip]="'Shuffle' | trans">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button class="player-action shuffle-button" mat-icon-button [class.active]="player.getState().shuffling"
        (click)="player.toggleShuffle()" [matTooltip]="'Download' | trans">
        <i class="fa fa-download" aria-hidden="true"></i>
    </button>
</div>

<!-- <repeat-button></repeat-button>

<volume-controls></volume-controls> -->