@import "../../../../scss/variables";

:host {
  display: block;
  padding: $page-margin;
}

.media-page-header {
  padding: 0;
}

.artist {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 5px 0 20px;
}

.artist-image {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

.subtitle {
  display: flex;
  align-items: center;

  .meta-item:not(:first-of-type):before {
    content: "\B7";
    margin: 0 5px;
  }
}