@import "../../../../../scss/variables";

main-playback-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: mat-color($app-foreground, text);

    .previous-track,
    .next-track {
        width: $wp-next-prev-button-size;
        height: $wp-next-prev-button-size;

        mat-icon {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .play-track,
    .pause-track {
        padding-top: 3px;
        width: $wp-play-button-size;
        height: $wp-play-button-size;

        mat-icon {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .buffering {
        width: $wp-play-button-size;
        height: $wp-play-button-size;
        padding: 7px 5px;

        > .spinner {
            border: 4px solid mat-color($app-foreground, text);
            border-top-color: mat-color($app-accent, default);
            border-radius: 50%;
            width: $wp-play-button-size - 10px;
            height: $wp-play-button-size - 10px;
            animation: spin 2s linear infinite;

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

li {
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w30 {
    width: 30%;
}

h4 {
    font-size: 23px;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

li:hover {
    background: grey;
    color: #fff;
}
