<li class="list-group-item flex">
        <div class="w70">Dapibus ac facilisis in</div>
        <div class="w30" style="text-align: right;">4:20</div>
    </li>
    <li class="list-group-item flex">
        <div class="w70">Dapibus ac facilisis in</div>
        <div class="w30" style="text-align: right;">4:20</div>
    </li>
    <li class="list-group-item flex">
        <div class="w70">Dapibus ac facilisis in</div>
        <div class="w30" style="text-align: right;">4:20</div>
    </li>
    <li class="list-group-item flex">
        <div class="w70">Dapibus ac facilisis in</div>
        <div class="w30" style="text-align: right;">4:20</div>
    </li>