@import "variables";

:host {
  display: block;
  min-width: 280px;
  max-width: 100%;
}

.fake-input {
  display: flex;
  align-items: center;
}

.fake-label {
  text-transform: capitalize;
}

.title-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

media-image {
  display: inline-block;
  margin-right: 8px;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 4px;
  vertical-align: middle;
}

.arrow-container {
  flex-shrink: 0;
  padding-left: 8px;
  margin-left: auto;
}

.arrow {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  width: 0;
}

.search-input-container {
  padding: 0 8px;
  min-width: 280px;
  max-width: 100%;
}

.search-input-wrapper {
  position: relative;
}

.clear-search-input-button {
  position: absolute;
  top: 4px;
  right: 0;
  color: mat-color($app-foreground, icon);
}

.mat-menu-item {
  display: flex;
  vertical-align: middle;

  &.selected {
    background-color: mat-color($app-accent, emphasis);
  }

  img {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }

  .name {
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .email {
    color: mat-color($app-foreground, secondary-text);
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.user-info {
  line-height: initial;
  overflow: hidden;
}

.any-user-info {
  line-height: 35px;
}

loading-indicator {
  position: absolute;
  top: 12px;
  right: 40px;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}